body {
    background-color: rgb(212, 195, 169);
    
}

.showcase {
    
    background-color: antiquewhite;
    width: 190vh;
    height: 86vh;
    border-radius: 2vh;
    margin: 0 3vh;
    margin-top: 2vh;
    padding: 2%;
}

h1 {

    font-size: 6vh; 
    margin-top: 0vh;
    font-style: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-style: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{

    margin-top: -2vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.small_text {

    margin-top: 0vh;
    font-style: inherit;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.linkContainer{

    display: flex;           /* включаем flexbox */
    gap: 10px;              /* расстояние между блоками */
    padding: 20px;   
}

.skills {

    background-color: rgb(223, 156, 156);
    height: 4vh;
    width: 7vh;
    border-radius: 1vh;
    border: 0.1vh, solid, rgb(3, 77, 22);
    justify-content: left;
}

a {

    border-radius: 2vh;
    height: 8vh;
    width: 8vh;  
}

img {

    border-radius: 2vh;
    border: 0.2vh, black, solid;
    height: 8vh;
    width: 8vh;
}

.divider{

    display: flex;           
}

.half{

    width: 95vh;
    height: 86vh;   
    justify-content: left;
}

